killPortHandler () {
	port=$1
	kill -9 $(lsof -t -i:$port)
}

weatherHandler () {
	city=$1
	[ -z "$city" ] && city="sari"
	curl https://wttr.in/$city 
	curl https://v2.wttr.in/$city
}

#packages
alias checkupdate="yay -Sy && yay -Qu"
alias update="sudo pacman -Syu"
alias updateAll="yay -Syu"
alias packSortByDate="expac --timefmt='%Y-%m-%d %T' '%l\t%n' | sort"
alias packSortBySize="pacman -Qi | awk '/^Name/{name=$3} /^Installed Size/{print $4$5, name}' | sort -h"
alias unlockPacman="sudo rm /var/lib/pacman/db.lck"
alias cleanupPack='sudo pacman -Rns $(pacman -Qtdq)'

#git
alias lazyCommit="git add -A && git commit -m"

#confirm before overwriting
alias cp="cp -iv"
alias mv="mv -iv"
alias rm="rm -iv"
alias cat="bat"

#utilities 
alias killPort=killPortHandler
alias weather=weatherHandler
